.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: reduce) {
  .App-logo {
    animation: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none; /* Removes underline to clean up the link appearance */
  transition: color 0.3s ease-in-out;
}

.App-link:hover,
.App-link:focus {
  color: #ffffff; /* Brightens the color on hover/focus for better visibility */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.75rem;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.loader {
  border-top-color: #3498db; /* Blue */
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
